@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Playwrite+AU+QLD:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-font{
    font-family: "Mozilla Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared related styles */
.display-flex{
    display: flex;
}

.btn-primary{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 21px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.text-primary{
    color: #FF900E;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}
/* bg-color */
.bg-light{
    background-color:rgba(255, 144, 14, 0.10);
}

/* dark-02 */
.bg-gray{
    color:#424242;;
}
/* dark-03 */
    .light-gary{
        color:#727272;;
    }
/* header related styles */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-bar, .banner{
    max-width: 1440px;
        margin: 0 auto;
}
/* nav related styles */
.nav-bar{
    justify-content: space-between;
   align-items: center;
}
.nav-title{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

/* banner related style */
.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
        margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
}
.banner-image{
    max-width: 100%;
}

/* main section styles part-1*/

.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* features section styles */
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
        margin-bottom: 30px;
        border-radius: 8px;
}
.feature-card .fetaure-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}
#experience-badge{
    padding: 45px 42px;
}


/* some fact related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}

/* sponsor related styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}
.sponsor-companies img{
   margin-left: 150px;
}
/* Responsive media query */

@media screen and (max-width: 576px) {
    
.nav-bar,
.nav-links,
.teams{
    flex-direction: column;
}
.team-img-container, .facts-container, .sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
}
.our-features{
    margin-left: 20px;
}

.facts-container, .sponsor-companies img{
    justify-items: center;
    gap: 24px;   
}
.sponsor-companies{
    gap: 24px;
}
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-info, .section-title, .fact-description{
        text-align: center;
    }
        .sponsor-companies, .facts-container{
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }
        #some-fact{
            margin-left: 100px;
            margin-bottom: 20px;
        }
}